/* ESTILOGENERAL DE HTML*/
body{
    text-align: center;
}

    header{
        background-color: #512da8;
    }
    #logo{
        text-align: left;
        scroll-margin-top: 0%;
        outline-style: none;
    }
    footer {
        margin-top: 10%;
        text-align: center;
        background-color: #8559da;
        padding: 2px;
    }

/* Contenedor del Modal*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
    /* Contenido del Modal */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
        }

    /* Botón para cerra el Modal */
    #close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }

    .close:hover,
    .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    }

/* HEADER */
/* BARRA DE NAVEGACIÓN */
.nav_bar{
    background-color: #8559da;
}
.navbar ul{
    list-style-type: none;
    text-align: left;
 }

.navbar li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
 } 

.button{
    padding: 2px 7px;
    color: black;
    background-color: #8559da;
    border: 1px solid #ffffbf;
    text-decoration: none;
    border-radius: 0%;
 }
 .button:hover{
    background-color: #ffffbf;
    color: #140078;
 }

/* PANTALLA DE INICIO */
/* carousel */
.carousel {
    position: relative;
    width: 700px;
    height: 300px;
    background-color: black;
    border-radius: 15px;
    margin: 5% 0% 5% 20%;
}

.image {
    position: absolute;
    width: 95%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
}

.image img {
    position: relative;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.text {
    position: absolute;
    width: 100%;
    top:65%;
    color: black;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    opacity: 0.7;
}

.btnlink {
    position: absolute;
    text-align: center;
    /*top:50%; */
    color: black;
    font-weight: bold;
    margin: 0% 0%;
    
}
.carousel a{
    position: absolute;
    text-decoration: none;
    font-size: 36px;
    color: white;
    top: 50%;
    transform: translateY(-50%);
}

#next {
    left: 97%;
}

#previous{
    right: 97%;
}

.dots {
    position: absolute;
    top: 90%;
    width: 100%;
    text-align: center;
}

.dot {
display: inline-block;
width: 16px;
height: 16px;
background-color: white;
border-radius: 50%;
margin-right: 5px;
}

/* cuando el cursor pasa por encima */
.dot:hover {
cursor: pointer;
background-color: gray;
}

.carousel a:hover{
    color: gray;
}
/* imagen que se está mostrando en ese momento */
.current {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 1s;
}
/* circulo que indica posición de la imagen que se está mostrando en ese momento */
.active {
    background-color: gray;
}

/* PANTALLA DE CIFRADO */
#error_messege{
    font-size: 15px;
    color: red;
}

#offset{
    top: 0%;
    left: 0%;
    height: 30px;
    width: 40px;
    font-size: 20px;
    border: solid #140078;
    margin-top: 6%;
}

#user_text{
    top: 0%;
    left: 0%;
    height: 35px;
    width: 200px;
    font-size: 25px;
    border: solid #140078;
    margin-top: 1%;
}
#your_pass, #result{
    font-size: 19px;
    text-align: center;
}
.max_characters{
    text-align: center;
    font-size: 15px;
    font: grey;
}

.convert, #delete{
margin: 2% 0%;
}

button{
    background-color: #ffff8d;
    padding: 4px 7px;
    border-radius: 4px;
}
button:hover{
    background-color: #cacc5d;
}

